<div class="form-container">
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <h1>Informations sur le véhicule</h1>
      <label for="matricule">Matricule </label>
      <input id="matricule" formControlName="matricule" required>
      
      <label for="usage">Usage </label>
      <select id="usage" formControlName="vehicleUsage" required>
        <option value="Véhicule affaire">Véhicule affaire (سيارة خاصة) </option>
        <option value="Taxi">Taxi</option>
        <option value="Location">Location</option>
        <!-- Add other usage options -->
      </select>
      
      <label for="priceNeuf">Valeur à neuf</label>
      <input type="number" id="priceNeuf" formControlName="priceNeuf" min="15000" required>
      <span *ngIf="vehicleForm.get('priceNeuf')?.invalid && vehicleForm.get('priceNeuf')?.touched" style="color: red;">
        Valeur à neuf should be at least 15000
      </span>
      
      <label for="priceVenale">Valeur vénale</label>
      <input type="number" id="priceVenale" formControlName="priceVenale" min="15000" required>
      <span *ngIf="vehicleForm.get('priceVenale')?.invalid && vehicleForm.get('priceVenale')?.touched" style="color: red;">
        Valeur vénale should be at least 15000
      </span>
      
      <fieldset>
        <legend>Couvertures </legend>
        <label><input type="checkbox" formControlName="responsabiliteCivile" value="responsabilite-civile"> Responsabilité civile</label>
        <label><input type="checkbox" formControlName="defenseRecours" value="defense-recours"> Défense et recours</label>
        <label><input type="checkbox" formControlName="volVehicule" value="vol-vehicule"> Vol du véhicule</label>
        <label><input type="checkbox" formControlName="incendieVehicule" value="incendie-vehicule"> Incendie du véhicule</label>
        <label><input type="checkbox" formControlName="brisGlace" value="bris-glace"> Bris de glace</label>
        <label><input type="checkbox" formControlName="personnesTransporte" value="personnes-transporte"> Personnes transportées</label>
        <label><input type="checkbox" formControlName="securiteConducteur" value="securite-conducteur"> Sécurité du conducteur</label>
        <label><input type="checkbox" formControlName="assistance" value="assistance"> Assistance</label>
        <label><input type="checkbox" formControlName="dommagesCollision" value="dommages-collision"> Dommages collision</label>
        <label><input type="checkbox" formControlName="dommagesVehicule" value="dommages-vehicule"> Dommages au véhicule (Tous risques)</label>
      </fieldset>
      
      <h1>Informations personnelles</h1>

      <label for="cin">Cin </label>
      <input id="cin" formControlName="cin" required>
      

      <label for="nom">Nom </label>
      <input id="nom" formControlName="nom" required>
      
      <label for="prenom">Prénom </label>
      <input id="prenom" formControlName="prenom" required>
      
      <label for="dateNaissance">Date De Naissance </label>
      <input type="date" id="dateNaissance" formControlName="dateNaissance" required>
      
      <label for="tel">Tél</label>
      <input type="tel" id="tel" formControlName="tel" required>
      <span *ngIf="vehicleForm.get('tel')?.invalid && vehicleForm.get('tel')?.touched" style="color: red;">
        Veuillez saisir exactement 8 chiffres.
      </span>
      
      <label for="adresse">Adresse </label>
      <input id="adresse" formControlName="adresse" required>
      
      <button type="submit" [disabled]="vehicleForm.invalid">valider</button>
    </form>
  </div>
  